@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0%, 100% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
  }
  
  .password-strength-animate {
    animation: pulse 1.5s infinite;
  }